/* PARTIALS */
/* VARIABLES */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: futura;
  font-weight: 400;
  letter-spacing: 1px;
  color: #707070; }

body {
  background-color: #F3EBE7; }

/* SERVICES */
.container {
  width: 90%;
  margin: 0 auto; }

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.flex {
  display: flex; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.resp {
  width: 100%; }

.border {
  border: solid 1px #2B2B2B; }

.none {
  display: none; }

/* NAVBAR */
navbar {
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  padding-top: 30px; }
  navbar .logoSite {
    width: 3vw; }
  navbar ul {
    width: 50vw;
    justify-content: space-between; }
    navbar ul a {
      text-decoration: none;
      color: #2B2B2B; }
      navbar ul a:hover {
        text-decoration: underline; }

/* FOOTER */
footer {
  margin-top: 50px; }
  footer ul:last-child {
    margin-top: 50px;
    background-color: #707070;
    padding: 100px 0;
    justify-content: space-around; }
    footer ul:last-child a {
      color: #F3EBE7;
      text-decoration: none;
      font-size: 3em; }

@media screen and (max-width: 992px) {
  header h1 {
    font-size: 5em; }

  .cercle {
    display: none; }

  footer navbar {
    margin-bottom: 50px; }
  footer ul:last-child {
    display: none; } }
@media screen and (max-width: 768px) {
  navbar ul {
    width: 55vw; }
  navbar li {
    font-size: 1.3rem; }
  navbar p {
    font-size: 1rem; } }
@media screen and (max-width: 576px) {
  navbar ul {
    width: 55vw; }
  navbar li {
    font-size: 0.7rem; }
  navbar p {
    font-size: 0.5rem; } }
#projects section:nth-of-type(1) {
  margin-top: 100px; }
  #projects section:nth-of-type(1) hr {
    margin: 0 0 10px 0; }
#projects hr {
  margin: 50px 0; }
#projects .description {
  grid-column: span 3;
  flex-direction: column;
  justify-content: space-between; }
  #projects .description h1 {
    font-weight: bold;
    font-size: 1.5rem; }
  #projects .description h2 {
    color: #2B2B2B;
    font-size: 0.9rem; }
  #projects .description p {
    margin-top: 10px; }
#projects .video {
  align-items: flex-end;
  padding-top: 10px;
  grid-column: span 9;
  transform-style: preserve-3d;
  perspective: 10px; }
  #projects .video img {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }

#home {
  /* ------ HEADER ------ */
  /* ANIMATION DES LETTRES CHANGEANTES DANS LE HERO BANNER */ }
  #home .cercleContainer {
    top: 36%;
    left: 70%;
    height: 200px;
    overflow: hidden; }
  #home .cercle {
    width: 300px;
    height: 300px;
    background-color: #2B2B2B;
    border-radius: 50%; }
  #home .linkedinLogo {
    right: -10px; }
    #home .linkedinLogo div {
      background-image: url("../../public/assets/logos/linkedin-icon_dark.svg");
      background-size: contain;
      width: 43px;
      height: 43px; }
      #home .linkedinLogo div:hover {
        background-size: contain;
        background-image: url("../../public/assets/logos/linkedin-icon_light.svg"); }
  #home span {
    color: #2B2B2B; }
  #home header {
    width: 100vw;
    height: 100vh; }
  #home header h1 {
    width: 75vw;
    margin: 50px auto;
    font-size: 6em; }
  #home .text:after {
    content: '';
    width: 6px;
    height: 100px;
    top: 7px;
    right: -5;
    position: absolute;
    background-color: #2B2B2B;
    animation: blink 1s infinite ease; }
@keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  #home .description {
    margin: 50px 0; }
  #home h2 {
    font-size: 5.5em;
    line-height: 100px;
    letter-spacing: -0.5px; }
    #home h2 span:hover {
      color: #F3EBE7;
      -webkit-text-stroke: 1px #2B2B2B; }
  #home .miniText {
    justify-content: flex-end; }
    #home .miniText p {
      font-size: 3.5em;
      width: 60%;
      line-height: 70px;
      mix-blend-mode: luminosity; }
      #home .miniText p a {
        color: #2B2B2B;
        text-decoration: none; }
        #home .miniText p a:hover {
          color: #F3EBE7;
          -webkit-text-stroke: 1px #2B2B2B; }
  #home .photoRando {
    width: 50%;
    z-index: -1;
    top: 35%;
    transition: all ease 10s; }
  #home .photoToulouse {
    z-index: -1;
    width: 50%;
    left: 40%;
    top: 10%; }
  #home .skills {
    margin: 80px 0; }
    #home .skills h2 {
      font-size: 8em;
      text-align: center;
      font-weight: bold; }
    #home .skills .row {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin-top: 50px; }
      #home .skills .row div {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        grid-column: span 6;
        width: 60%; }
        #home .skills .row div h3 {
          font-size: 2em; }
        #home .skills .row div img {
          margin: 30px 0; }
        #home .skills .row div p {
          font-size: 1.2em;
          text-align: center; }
  @media screen and (max-width: 992px) {
    #home header h1 {
      font-size: 5em; }
    #home .cercle {
      display: none; }
    #home .description h2 {
      font-size: 4em;
      letter-spacing: -1px; }
    #home .description p {
      font-size: 2em;
      line-height: 60px;
      padding-bottom: 30px; }
    #home .photoRando {
      top: 50%; } }
  @media screen and (max-width: 576px) {
    #home header h1 {
      font-size: 4em;
      line-height: 1.5em; }
    #home .linkedinLogo div {
      width: 30px;
      height: 30px; }
    #home .description h2 {
      font-size: 3em;
      letter-spacing: -1px; }
    #home .description p {
      font-size: 2em;
      line-height: 50px;
      padding-bottom: 30px; }
    #home .skills .row div {
      grid-column: span 12; } }

#resume .cv {
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px; }
#resume .cv img {
  width: 30%;
  margin: 25px;
  transition: width 0.4s ease-in-out; }
  #resume .cv img:hover {
    width: 100%; }

/*# sourceMappingURL=style.css.map */
