{% extends 'base.html.twig' %}

{% block title %} My Projects {% endblock title %}

{% block body %}

    <body id="projects">

        <section class="container">
            <hr>
            <div class="row">
                <div class = "description flex">
                    <h1> SEROTONINENE</h1>

                    <div>
                        <h2> DESCRIPTION</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam iste qui repudiandae tempora. Consequatur corporis eos magni officia omnis, sint veniam? Accusamus cum, cupiditate error facere omnis porro veniam!</p>
                    </div>
                </div>
                <div class="video">
                    <img src="{{ asset('assets/photos/serotoninene_capture.png') }}" alt="serotoninene's Project" class="resp">
                </div>
            </div>
        </section>
        <section class="container">
            <hr>
            <div class="row">
                <div class = "description flex">
                    <h1> SEROTONINENE</h1>

                    <div>
                        <h2> DESCRIPTION</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam iste qui repudiandae tempora. Consequatur corporis eos magni officia omnis, sint veniam? Accusamus cum, cupiditate error facere omnis porro veniam!</p>
                    </div>
                </div>
                <div class="video">
                    <img src="{{ asset('assets/photos/serotoninene_capture.png') }}" alt="serotoninene's Project" class="resp">
                </div>
            </div>
        </section>
        <section class="container">
            <hr>
            <div class="row">
                <div class = "description flex">
                    <h1> SEROTONINENE</h1>

                    <div>
                        <h2> DESCRIPTION</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam iste qui repudiandae tempora. Consequatur corporis eos magni officia omnis, sint veniam? Accusamus cum, cupiditate error facere omnis porro veniam!</p>
                    </div>
                </div>
                <div class="video">
                    <img src="{{ asset('assets/photos/serotoninene_capture.png') }}" alt="serotoninene's Project" class="resp">
                </div>
            </div>
        </section>

    </body>

{% endblock body %}